/*
Handcoded By Chee Yong Lee (https://github.com/joeleeofficial) & (https://github.com/leecheeyong)
This code is available as open source under the terms of the GPL-3.0 (https://github.com/brawlie/brawley/blob/main/LICENSE)
*/

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    margin: 0;
    padding: 0;
  }

html,
:root {
    --color-red: hsl(0, 100%, 85%);
    --color-grey: #414040;
    --color-bg: #2e2d2d;
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-bg);
    align-items: center;
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Lilita One', cursive;
    scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

p {
  line-height: 1.5em;
  font-size: 1.3em;
}

a:hover {
  color:#ffd2d2
}

nav {
  width: 70%;
  position: fixed;
  font-size: 22px;
  color: #eaeaea;
  justify-content: space-between;
  line-height: 1.2em;
  margin: 0 auto;
  margin-top: 3%;
  left: 0;
  right: 0;
  padding: 25px;
  box-shadow: 0px 0px 50px 1px rgba(82, 81, 81, 0.35);
  z-index: 1;
  background-color: var(--color-bg);
  border-radius: 20px;
}


.enlarge:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.enlarge {
  transform: scale(1);
  transition: transform .5s linear;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding: 25px;
}

.home {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40vh;
    width: 100%;
    height: 100vh;
}

.fourofour {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 40vh;
  width: 100%;
}

#features {
    padding-top: 20vh;
    text-align: center;
    align-items: center;
    font-size: 25px;
    align-items: center;
    font-weight: bold;
}

#features h1 {
  color: var(--color-red);
}

.items {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

.box > span {
    font-weight: 550;
    font-size: 1.5em;
    line-height: 2em;
    display: block;
    color: white;
}

.box {
    background-color: var(--color-grey);
    height: 25em;
    text-align: center;
    border-radius: 30px;
    padding: 1em;
}

.box > h1 {
    font-size: 2.5em;
    margin: .6em;
    color: var(--color-red);
}

#about {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    padding-top: 30vh;
    margin-bottom: 15vh;
}

#about a {
    color:hsl(0, 100%, 85%);
    text-decoration: none;
}

#about h1 {
    font-size: 2em;
    color: var(--color-red);
}

#about p {
    width: 80%;
    margin-left: 10%;
}

.card h1 {
  color: #e9a3a3;
}
.card h1, p {
  margin-top: .8em;
}

.card img {
  margin-top: 2em;
  width: 100%;
  border-radius: 10px;
}

.showcase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.card {
    background-color: #35383e;
    border-radius: 20px;
    min-height: 30vh;
    padding: 2em; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer {
    bottom: 0;
    font-size:10px;
    color: #bbbbbb;
    background-color:var(--color-grey);
    text-align: center;
    padding: 2em;
}

.footer a {
    text-decoration: none;
    color: white;
}
